* {
  font-family: Arial;
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

body {
  background: #dedede;
  display: grid;
  grid-template-rows:  80% 20% ;
}


.gameboard {
  margin: 50px auto;
  width:500px;
  height: 500px;
  border-radius: 50%;
  overflow: hidden;
}

.contador{
  margin: 0 auto;
  max-width: 800px;
  display: grid;
  text-align: center;
  grid-template-columns:auto auto auto auto auto auto auto auto auto auto ; 
}

.contenedor{
  box-sizing: border-box;
  height: 150px;
  background: red;
  padding: 50px;
}

.far, .fas{
 color:yellow;
}



.color {
  width: 50%;
  height: 50%;
}

.left {
  float: left;
}

.right {
  float: left;
}

.celeste {
  background: #22a6b3;
}

.celeste.light {
  background: #7ed6df;
}

.violeta {
  background: #be2edd;
}

.violeta.light {
  background: #e056fd;
}

.naranja {
  background: #f0932b;
}

.naranja.light {
  background: #ffbe76;
}

.verde {
  background: #6ab04c;
}

.verde.light {
  background: #badc58;
}

.btn-start {
  width: 400px;
  height: 100px;
  background: #ecf0f1;
  color: #2c3e50;
  font-size: 2.5rem;
  position: absolute;
  top: calc(50% - 220px);
  left: calc(50% - 200px);
}

.hide {
  display: none;
} 
